<!-- <div class="container">
  <div class="container mt-4">
    <div class="d-flex gap-5 align-items-center">
      <div class="bg-info p-2">
        <h1>Coding Factory</h1>
        <h2>Angular Project</h2>
      </div>
      <div class="bg-success p-2 text-light">
        <h3>Welcome to Angular</h3>
        <p>Hello <strong>{{person0.givenName}}</strong>! Nice to meet you</p>
      </div>
    </div>
  </div>
  <app-event-binding></app-event-binding>
  <div class="d-flex gap-5 text-nowrap">
    <app-person-table [person]="person0"></app-person-table>
    <app-person-table [person]="person1"></app-person-table>
    <app-person-table [person]="person2"></app-person-table>
    <app-person-table [person]="person3"></app-person-table>
  </div>

  <div class="d-flex flex-wrap text-nowrap gap-2">
    @for(user of users; track user){
      <app-person-table [person]="user"></app-person-table>
    }
  </div>
</div> -->

<div class="d-flex flex-column gap-2">
  <nav class="navbar navbar-dark bg-primary justify-content-between">
    <a role="button" class="navbar-brand ms-3">Angular Project</a>
  </nav>
  <div class="d-fle flex-row gap-2">
     <div class="d-flex flex-column text-nowrap bg-light p-2">
      <span role="button">Input Example</span>
      <span role="button">{{"for"}} Directive Example</span>
      <span role="button" routerlink="event-bind-example">Numerator & Text</span>
     </div>
     <div class="flex-grow-1 p-2 text-nowrap">
        <router-outlet></router-outlet>
     </div>
  </div>
</div>